[dafaults]
invesntory=./inventory
remote_user=dhanda
ask_pass=false
log_path=./ansible.log
host_key_checking=false

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass=False
